spring:
  config:
    activate:
      on-profile: local

  messages:
    basename: errors

  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:tcp://localhost/~/boarddb
    username: sa
    password:

  data:
    web:
      pageable:
        default-page-size: 20
        max-page-size: 1000

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        #        show_sql: true
        format_sql: true
        default_batch_fetch_size: 1000 #최적화 옵션
  #    open-in-view: false
  mvc:
    view:
      prefix: /WEB-INF/views/
      suffix: .jsp

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 20753470731-a409mgu4ukce2h7ps41vnlbi0dhog4nl.apps.googleusercontent.com
            client-secret: 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
            scope:
              - email
              - profile
          facebook:
            client-id: 5529594730443349
            client-secret: 9516b25f796b9ac4a63117f6b3b98f69
            scope:
              - email
              - public_profile

          naver:
            client-id: rOUBxQyJhlgnS6g8TJEa
            client-secret: EaoSfneJSl
            scope:
              - name
              - email
            #              - profile-image 되는 데 지금은 사용안함

            client-name: Naver
            authorization-grant-type: authorization_code
            redirect-uri: http://localhost:8080/login/oauth2/code/naver

          kakao:
            client-id: fa3a945946b115e5706faa5317e23786
            client-secret: jU7yRoeWOe9I6jQ8nEHXwd7DQsZNZJpX
            redirect-uri: http://localhost:8080/login/oauth2/code/kakao
            client-name: kakao
            authorization-grant-type: authorization_code
            client-authentication-method: POST
            scope:
              - profile_nickname
              - account_email
        provider:
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response

          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id

logging.level:
  org.hibernate.SQL: debug
#  org.hibernate.type: trace

custom:
  upload:
    path: "/Users/Board/upload"
  ckeditor:
    path: "/Users/Board/Pictures/CKPictures/"
server:
  servlet:
    session:
      timeout: 1800


